.App{
  min-width: 95vw;
  min-height: 95vh;
  margin: 0;
  padding: 0;
}

.card-form{
  width: clamp(30%, 25%, 20%);
  padding: 4% 10% 2% 10%;
  border: 2px solid rgb(204, 204, 204);
  margin: 1cqb auto 2% auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card{
  width: clamp(30%, 25%, 20%);
  padding: 1% 3%;
  border: 2px solid rgb(204, 204, 204);
  margin: 1cqb auto 2% auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card .leftSide{
  text-align: left;
}

.card .rightSide{
  margin: 10% 5%;
  text-align: right;
  float: right;
}

.card h2{
  font-weight: lighter;
}

.card p{
  color: rgb(125, 125, 125);
  font-weight: bold;
  
}

.card .categories{
  display: inline;
}

.card .description{
  color: black;
  font-weight: normal;
  font-stretch: expanded;
}

.card .categories p{
  display: inline;
}

.card .date {
  font-stretch: condensed;
}

.changerButton{
  cursor: pointer;
  color: rgb(0, 68, 255);
  font-weight: bold;
}

.rightSideButtons{
  float: right;
  margin: 1% 5% ;
}

.rightSideButtons button{
  width: 100%;
}