.card{
    width: clamp(30%, 25%, 20%);
    padding: 4% 10% 2% 10%;
    border: 2px solid rgb(204, 204, 204);
    margin: 1cqb auto 2% auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.changerButton{
    cursor: pointer;
    color: rgb(0, 68, 255);
    font-weight: bold;
}