.card-noborder{
    width: clamp(40%, 40%, 20%);
    padding: 1% 3%;
    margin: 10% auto 2% auto;
    align-items: center;
    justify-content: center;
  }

  .card-noborder .submitButton{
    text-align: center;
    padding: 5%;
  }

  .card-noborder .categories{
    margin: 10% 5%;
  }